<mat-toolbar color="primary" fxLayout="row" fxLayout.xs="column">
  <mat-toolbar-row>
    <div class="toolbar-title" fxFlex fxLayoutAlign="start start" fxLayoutAlign.xs="center center">
      <span>Jorge.co.uk</span>
      <span></span>
    </div>
    <div class="toolbar-nav-buttons" fxFlex="90%" fxLayoutGap="2%" fxLayoutAlign="end start">
      <a mat-raised-button>Home</a>
      <a mat-raised-button>Contact</a>
      <span></span>
    </div>
    <div class="toolbar-theme-toggle" fxFlex fxLayoutAlign="end start">
      <mat-icon>highlight</mat-icon>
      <mat-slide-toggle [checked]="isDarkTheme | async" labelPosition="before" (change)="toggleDarkTheme($event.checked)" fxLayoutAlign="center center"></mat-slide-toggle>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<!-- 
<mat-menu #themeMenu="matMenu" xPosition="after">
  <mat-grid-list cols="2" class="mat-grid-list">
    
    <mat-grid-tile class="mat-grid-tile">
      <button mat-mini-fab class="btn btn-light" (click)="changeTheme('light-theme')"></button>
    </mat-grid-tile>
    
    <mat-grid-tile class="mat-grid-tile">
        <button mat-mini-fab class="btn btn-grayscale" (click)="changeTheme('grayscale-theme')"></button>
    </mat-grid-tile>

    <mat-grid-tile class="mat-grid-tile">
      <button mat-mini-fab class="btn btn-dark" (click)="changeTheme('dark-theme')"></button>
    </mat-grid-tile>

    <mat-grid-tile class="mat-grid-tile">
      <button mat-mini-fab class="btn btn-jojo" (click)="changeTheme('jojo-theme')"></button>
    </mat-grid-tile>

  </mat-grid-list>
</mat-menu>
-->



<!-- 

  OLD

<button mat-menu-item>
<button mat-mini-fab class="btn btn-light" (click)="changeTheme('light-theme')"></button>
</button>
<button mat-menu-item>
<button mat-mini-fab class="btn btn-dark" (click)="changeTheme('dark-theme')"></button>
</button>
<button mat-menu-item>
<button mat-mini-fab class="btn btn-jojo" (click)="changeTheme('jojo-theme')"></button>
</button>



<div>
  <div class="btn-wrapper">
    <button mat-mini-fab class="btn btn-light" (click)="changeTheme('light-theme')"></button>
    <button mat-mini-fab class="btn btn-dark" (click)="changeTheme('dark-theme')"></button>
    <button mat-mini-fab class="btn btn-jojo" (click)="changeTheme('jojo-theme')"></button>
  </div>
</div>
<mat-icon class="header-icon">color_lens</mat-icon>
-->