.header-icon {
  padding: 0 14px;
}

.header-spacer {
  flex: 1 1 auto;
}

.btn-light {
  background-color: white !important;
}

.btn-dark {
  background-color: black !important;
}

.btn-jojo {
  background-color: pink !important;
}

.mat-grid-list {
  background-color: gray;
}