mat-slide-toggle {
  font-size: .875rem;
  margin-left: 20px;
  margin-bottom: 10px;
  
}

mat-toolbar-row {
  justify-content: space-between;
}

fill-remaining-space {
  // This fills the remaining space, by using flexbox.
  flex: 1 1 auto;
}

/*


.header img {
  //float: left;
  //width: 54px;
  //height: 100%;
  background-image: url("../../assets/images/david_transparent.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.header {
  overflow: auto
}

.header span {
  float: left;
}

*/