// Global styles
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.btn wrapper {
    padding: 20px;
}

.btn {
    margin-left: 10px !important;
    margin-right: 10px !important;
}

.btn-light {
    background-color: white !important;
}

.btn-dark {
    background-color: black !important;
}

.btn-jojo {
    background-color: pink !important;
}