<div class="container" fxLayout="row" fxLayoutGap="2%">
    <span></span>
    <mat-card class="intro-card" fxFlex="30%">
        <mat-card-header>
            <div mat-card-avatar class="avatar-image"></div>
            <mat-card-title>Architecting the future</mat-card-title>
            <mat-card-subtitle>Jorge R. S. Robins</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum molestias esse quod, nemo eos error eveniet cupiditate odit obcaecati iusto ducimus! Labore asperiores vero totam dolorem tempora laboriosam possimus architecto.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias eius distinctio voluptas iure aliquam est, rem quam tempora corporis voluptate laudantium totam explicabo vel adipisci labore, repellendus officiis facilis maxime.
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. At autem dolores, sapiente quisquam nulla nobis ipsa ab delectus voluptates illo numquam vel corporis, inventore accusamus vitae. Laboriosam dicta minus accusamus.
                </p>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum molestias esse quod, nemo eos error eveniet cupiditate odit obcaecati iusto ducimus! Labore asperiores vero totam dolorem tempora laboriosam possimus architecto.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias eius distinctio voluptas iure aliquam est, rem quam tempora corporis voluptate laudantium totam explicabo vel adipisci labore, repellendus officiis facilis maxime.
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. At autem dolores, sapiente quisquam nulla nobis ipsa ab delectus voluptates illo numquam vel corporis, inventore accusamus vitae. Laboriosam dicta minus accusamus.
                </p>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <!-- <button mat-raised-button>Theme</button> -->
            <button mat-raised-button color="accent">Github</button>
        </mat-card-actions>
    </mat-card>

    <mat-tab-group color="accent" mat-align-tabs="center" fxFlex>
        <mat-tab label="Bitcoin SV">
            <h1>Bitcoin SV Title</h1>
            <p>...</p>
        </mat-tab>
        <mat-tab label="Economics">
            <h1>Economics Title</h1>
            <p>...</p>
        </mat-tab>
        <mat-tab label="Philosophy">
            <h1>Philosophy Title</h1>
            <p>...</p>
        </mat-tab>
    </mat-tab-group>
    <span></span>
</div>